/*###################### */
/* GLOBAL                */
/*###################### */

*
{
    margin: 0px;
    padding: 0px;
}

#all
{
    margin: 30px;
}

/*###################### */
/* VIDEO                 */
/*###################### */

.ql-centralized-video
{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}

/*###################### */
/* DELTA, TEXT AND HTML  */
/*###################### */

#content-delta,
#content-html,
#content-text {
    padding: 0px;
}

pre{
    white-space: normal;
}

code{
    white-space: pre-wrap;
}

#content-delta p{
    font-family: Candara;
}

/*###################### */
/* TABS                  */
/*###################### */

/* Style the tab */
.tabs {
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.abas-conteudo {
    display: none;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-top: none;
}